.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #212121;
  color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20vw;
    height: 25vw;
    border-radius: 8px;
  }

  &__table {
    width: 45%;
    height: 25vw;


    thead,
    tbody {
      width: 100%;

      tr {
        display: flex;
        gap: 20px;
        justify-content: space-between;
      }

      th {
        width: 100px;
        text-align: center;
      }
    }
  }

  &__field {
    max-width: 200px;
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      margin-bottom: 2px;
      font-size: 12px;
    }

    input {
      background: #eee;
      padding: 8px 12px;
      border-radius: 4px;

      &:focus {
        outline: 2px solid #0009bc;
      }
    }
  }

  &__input {
    &--valid {
      outline: 2px solid #069f3b;
    }

    &--invalid {
      outline: 2px solid #ae0227;
    }
  }

  button {
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    width: 120px;
    text-transform: uppercase;
    background: #0d8149;
    outline: none;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;

    transition: all .3s ease-in-out;

    &:hover {
      background: darken(#0d8149, 4);
    }

    &:disabled {
      cursor: not-allowed;
      background: transparentize(#0d8149, .8);
    }
  }
}